[submodule "blt"]
	path = blt
	url = https://github.com/LLNL/blt.git
[submodule "include/cub"]
	path = tpl/cub
	url = https://github.com/NVlabs/cub.git
[submodule "tpl/kokkos"]
	path = tpl/kokkos
	url = https://github.com/DavidPoliakoff/kokkos.git
	branch = feature/tuning
